<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
  <%if @list.photo.attached? %>
   <%= cl_image_path(@list.photo.key) %>
  <% else  %>
  <%= asset_path 'moviebg.jpg' %>
<% end %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= @list.description %></p>
    <p class="movie-tag"><%= pluralize(@list.movies.size, "movie") %></p>
  </div>
</div>

<div class="container py-5">

  <div class="card-grid">
    <% @list.bookmarks.each do |bookmark| %>

      <div class="card-trip">
        <%=image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.comment %> </p>
            <p><%= "Rating: #{bookmark.movie.rating}" %> </p>
          </div>
        </div>
      </div>

      <li class='list-group-item'> <%=  %>

      <% end %>
    </div>

    <%= link_to "Back to list", lists_path, class: "btn btn-primary" %>

    <%= link_to "delete this list", list_path(@list), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
    <%# add a movie %>

    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary"%>
    <%= link_to "Edit List", edit_list_path(@list), class: "btn btn-primary"%>

  </div>
